body {
    margin: 0;
    font-family: 'Yeseva One', cursive;
    font-family: 'Poppins', sans-serif;
}
.padding-1 {
    padding: 100px 100px 20px 100px;
}
.padding-2 {
    padding: 50px;
}
#hero-area {
    display: flex;
}
.half-width {
    width: 50%;
}
.half-width.content-area {
    margin-right: 200px;
}
.half-width img {
    width: 450px;
}
.half-width h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
    font-weight: 300;
    color: #333333;
    border-left: 5px solid #146fff;
    padding-left: 20px;
    margin: 0;
}
.half-width p {
    margin: 30px 0;
}
.high-light-color {
    color:#8011dbb9;
}
.button{
    text-decoration: none;
    background-color: #146fff;
    color: #f3f3f3;
    padding: 10px 40px;
    border-radius: 5px;
}
#mission h1 {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin-top: 0;

}
.card-area {
    display: flex;
    padding: 0 100px;
}
.card {
    width: 33.33%;
    padding: 40px;
    margin: 10px;
}
.card img {
    width: 30%;
}
.card.card-1 {
    background-color: #4f9da625;
    border-radius: 25px;
}
.card.card-2 {
    background-color: #FF595925;
    border-radius: 25px;
}
.card.card-3 {
    background-color: #f7e5b5;
    border-radius: 25px;
}

#develop-area {
    display: flex;
    background: url(images/shapes/shape-1.png) no-repeat left center;
    background-size: 300px 300px;
}
#develop-area h2, #community h2{
    font-size: 36px;
    margin: 0;
}
#community {
    display: flex;
    background: url(images/shapes/shape-1.png) no-repeat right bottom;
    background-size: 300px 300px;
    margin-bottom: 50px;
    padding: 0 100px 100px 100px;
}
#team {
    padding: 0 100px;
}
#team h1{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin-top: 0;
}
.team-area {
    display: flex;
    text-align: center;
}
.person {
    width: 25%;
    height: 330px;
    border-radius: 50%;
    margin: 10px;
}
.person img {
    width: 250px;
    margin-top: 40px;
    
}
.person-1 {
    background: #f83d3d6c;
}
.person-2 {
    background: #9be2f88c;
}
.person-3 {
    background: #ad20203b;
}
.person-4 {
    background: #ffe394;
}

footer {
    text-align: center;
    background: #0B0D17;
    color: #f3f3f3;
    margin-top: 100px;
    padding: 50px 0;
}
footer h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
}